/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ensure the body takes up the full height of the viewport */
}

/* Common Styles for Containers */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Desktop Styles */
@media (min-width: 768px) {
    body {
        padding: 0 100px;
    }
    .hero-container,
    .content-container,
    .text-container,
    .sign-container {
        height: 25vh;
    }
    .hero-container {
        padding: 50px 100px;
        background-color: #1f2937;
        color: #f9faf8;
    }
    .left-container,
    .right-container {
        width: 50%;
    }
    .hero-heading {
        font-size: 48px;
    }
    .left-container p {
        font-size: 18px;
    }
    .right-container img {
        height: 300px;
    }
    .content-container {
        padding: 50px 100px;
        background-color: #e5e7eb;
        color: #1f2937;
    }
    .content-heading {
        font-size: 36px;
    }
    .cards-container {
        gap: 20px;
        padding: 20px;
    }
    .card {
        width: 200px;
    }
    .card img {
        width: 200px;
        height: 200px;
    }
    .text-container {
        padding: 50px 100px;
        background-color: #e5e7eb;
        color: #1f2937;
    }
    .text-container > .text {
        font-size: 24px;
        font-style: italic;
    }
    .sign-container {
        background-color: #f9faf8;
        color: #1f2937;
    }
}

/* Mobile Styles */
@media (max-width: 767px) {
    body {
        padding: 0 20px;
    }
    .hero-container,
    .content-container,
    .text-container,
    .sign-container {
        height: 25vh;
    }
    .hero-container {
        flex-direction: column;
        padding: 20px;
        background-color: #1f2937;
        color: #f9faf8;
    }
    .left-container,
    .right-container {
        width: 100%;
        text-align: center;
    }
    .right-container img {
        height: auto;
        max-width: 100%;
    }
    .hero-heading {
        font-size: 36px;
    }
    .left-container p {
        font-size: 16px;
    }
    .content-container {
        padding: 20px;
        background-color: #e5e7eb;
        color: #1f2937;
    }
    .content-heading {
        font-size: 24px;
    }
    .cards-container {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 10px;
    }
    .card {
        width: 80%;
    }
    .card img {
        width: 100%;
        height: auto;
    }
    .text-container {
        padding: 20px;
        text-align: center;
        background-color: #e5e7eb;
        color: #1f2937;
    }
    .text-container > .text {
        font-size: 18px;
        font-style: italic;
    }
    .sign-container {
        background-color: #f9faf8;
        color: #1f2937;
    }
}
